<div class="dir-node-container">
  <div class="dir-container">
    <div class="dir-title">
      <%- rootNode.parsedPath.base %>
    </div>
    <% if(rootNode.files.length > 0) { %>
      <div class="file-stats">
        <% rootNode.files.forEach(dirNodeFile => { %>
          <div class="file-stat-container">
            <%- dirNodeFile.parsedPath.base %>
          </div>
        <% }) %>
      </div>
    <% } %>
    <% rootNode.children.forEach(childNode => {%>
      <div class="summary-container">
        <div class="summary-text">
          <div class="size">
            <%- childNode.sizeStr %>
          </div>
          <div class="label">
            <%- childNode.parsedPath.base %>
          </div>
        </div>
      </div>
      <%- include('dir-node-plain', {
        rootNode: childNode
      }) %>
    <% }) %>
  </div>
</div>